@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General */
.link {
  @apply text-blue-ukraine border-b border-b-blue-ukraine hover:text-blue-500 space-y-4;
}

/* Navbar */

.navbar {
  @apply items-center justify-center sm:flex-wrap flex-col sm:flex-row hidden sm:flex;
}

.navbar-mobile {
  @apply items-center justify-start flex-wrap flex-col flex bg-blue-ukraine h-full;
}

.navbar-item {
  @apply flex items-center justify-center text-xl font-semibold my-3 mr-2 py-3 px-5 rounded-lg  transition-all ease-in-out duration-200 cursor-pointer hover:text-yellow-ukraine text-white hover:scale-105 text-center;
}

.navbar-item:not(:first-child) {
  @apply mr-2;
}

.navbar-item-active {
  @apply font-semibold text-yellow-dark;
}

.authentication-button {
  @apply bg-yellow-dark text-blue-ukraine rounded-xl my-3 mr-4 py-2 px-4;
}

/* Navbar mobile */
.navbar-mobile .navbar-item:not(:first-child) {
  @apply mr-0 mb-2;
}

.navbar-mobile .authentication-button {
  @apply mr-0 mb-6;
}

/* */

.border-information {
  @apply hover:underline;
}

.border-information-info-list li {
  @apply ml-5;
}

.border-card {
  color: rgb(90, 90, 90);
  @apply p-0 lg:p-5 flex flex-col justify-center lg:bg-gray-200 bg-opacity-75 rounded-xl mb-10 2xl:w-5/6;
}

.border-card-reception {
  @apply bg-gray-500 rounded-lg px-2 pb-4 m-2 2xl:w-2/6 2xl:mr-5 max-w-6xl min-h-[300px] flex flex-col justify-between;
  max-width: 280px;
}

.border-card-thumbnail {
  @apply m-2 flex flex-col items-center justify-center;
}

.border-card-qr {
  @apply m-2 flex flex-col items-center justify-center;
}

.border-card-google {
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.border-card-address {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.border-card-type {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}
