@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  @apply items-center justify-center sm:flex-wrap flex-col sm:flex-row hidden sm:flex;
}

.navbar-mobile {
  @apply items-center justify-center flex-wrap flex-col flex;
}

.navbar-item {
  @apply flex items-center justify-center text-xl font-semibold my-3 mr-2 py-3 px-5 rounded-lg  transition-all ease-in-out duration-200 cursor-pointer hover:text-black text-gray-700 hover:scale-105 hover:bg-gray-400;
}

.navbar-item-active {
  @apply bg-gray-300 text-gray-700;
}

.border-information {
  @apply hover:underline;
}

.border-information-info-list li {
  @apply ml-5;
}

.border-card {
  color: rgb(90, 90, 90);
  font-family: sans-serif;
  @apply p-0 lg:p-5 flex flex-col justify-center lg:bg-gray-200 bg-opacity-75 rounded-xl mb-10 2xl:w-5/6;
}

.border-card-reception {
  @apply bg-gray-500 rounded-lg px-2 pb-4 m-2 2xl:w-2/6 2xl:mr-5 w-full min-h-[300px] flex flex-col justify-between;
  max-width: 280px;
}

.border-card-qr {
  @apply m-2 flex flex-col items-center justify-center;
}

.border-card-google {
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.border-card-address {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

/* */

.foodshelter-information {
  @apply hover:underline;
}

.foodshelter-information-info-list {
  margin-left: 15px;
}

.foodshelter-card {
  @apply p-5 flex flex-col justify-center bg-gray-300 bg-opacity-75 rounded-xl mb-10 2xl:w-5/6;
}

.foodshelter-card-point {
  @apply flex mb-1 bg-gray-300 p-3 text-left;
}

.foodshelter-card-reception {
  @apply bg-gray-500 rounded-lg px-2 pb-4 m-2 2xl:w-2/6 2xl:mr-5 w-full min-h-[300px] flex flex-col justify-between;
  max-width: 280px;
}

.foodshelter-card-thumbnail {
  @apply m-2 flex flex-col items-center justify-center;
}

.foodshelter-card-google {
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.foodshelter-card-type {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.foodshelter-card-address {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.link {
  color: blue;
}
