@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  @apply items-center justify-center sm:flex-wrap flex-col sm:flex-row hidden sm:flex;
}

.navbar-mobile {
  @apply items-center justify-center flex-wrap flex-col flex;
}

.navbar-item {
  @apply flex items-center justify-center text-xl font-semibold my-3 mr-2 py-3 px-5 rounded-lg  transition-all ease-in-out duration-200 cursor-pointer hover:text-yellow-ukraine text-white hover:scale-105 text-center;
}

.navbar-item:not(:first-child) {
  @apply mr-2;
}

.navbar-item-active {
  @apply font-bold text-yellow-ukraine;
}

.border-information {
  @apply hover:underline;
}

.border-information-info-list {
  margin-left: 15px;
}

.border-card {
  @apply p-5 flex flex-col justify-center bg-gray-300 bg-opacity-75 rounded-xl mb-10;
}

.border-card-point {
  @apply flex mb-1 bg-gray-300 p-3 text-left;
}

.border-card-reception {
  @apply bg-gray-500 rounded-lg px-2 pb-4 m-2 2xl:w-2/6 2xl:mr-5 max-w-6xl min-h-[300px] flex flex-col justify-between;
  max-width: 280px;
}

.border-card-qr {
  @apply m-2 flex flex-col items-center justify-center;
}

.border-card-google {
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.border-card-address {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

/* */

.foodshelter-information {
  @apply hover:underline;
}

.foodshelter-information-info-list {
  margin-left: 15px;
}

.foodshelter-card {
  @apply p-5 flex flex-col justify-center bg-gray-300 bg-opacity-75 rounded-xl mb-10 2xl:w-5/6;
}

.foodshelter-card-point {
  @apply flex mb-1 bg-gray-300 p-3 text-left;
}

.foodshelter-card-reception {
  @apply bg-gray-500 rounded-lg px-2 pb-4 m-2 2xl:w-2/6 2xl:mr-5 w-full min-h-[300px] flex flex-col justify-between;
  max-width: 280px;
}

.foodshelter-card-thumbnail {
  @apply m-2 flex flex-col items-center justify-center;
}

.foodshelter-card-google {
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.foodshelter-card-type {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.foodshelter-card-address {
  @apply mt-5 py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

.link {
  @apply text-blue-ukraine border-b border-b-blue-ukraine hover:text-blue-500 space-y-4;
}

.authentication-button {
  @apply bg-yellow-ukraine text-black mr-4 rounded-xl py-2 px-4;
}
