.leaflet-container {
  width: 100%;
  height: 90vh;
}

@media (max-width: 650px) {
  .leaflet-container {
    height: 50vh;
  }
}

.showlocation-button{
  @apply py-2 px-4 rounded-lg bg-gray-300 flex flex-col items-center justify-center;
}

